nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        padding-bottom: 10px;
        border-bottom: 1px solid;
    }
footer{
        color: blue;
        border: 5px;
    }